.contact{
    margin-bottom: 200px;
    padding:20px;
    min-height:600px;
    background:rgb(0, 0, 0);
}
.contact_content h1{
    color: var(--main);
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}
.contact_content p{
    color:#000 ;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
